.banner{
	width: 100%;
	height: 360px;
	background: url(../img/party/bg_party.png) no-repeat scroll center center;
	background-size:cover;
	text-align: center;
	margin-top: 20px;
	color: #fff;
}
.banner h1{
	font-size: 40px;
}
.banner h2{
	font-size: 25px;
}
.banner .title{
	position: relative;
	top:40%;}
